# ---------------------------------------------------------------------------- #
#                                     NODE                                     #
# ---------------------------------------------------------------------------- #

# ----------------------------------- Logs ----------------------------------- #

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*


# ---------------------------- Diagnostic Reports ---------------------------- #

report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json


# ------------------------------- Runtime Data ------------------------------- #

pids
*.pid
*.seed
*.pid.lock


# ----------------------------- Instrumented Libs ---------------------------- #

lib-cov


# ---------------------------- Coverage Directory ---------------------------- #

coverage
*.lcov


# ----------------------------- NYC Test Coverage ---------------------------- #

.nyc_output


# ------------------------ Grunt Intermediate Storage ------------------------ #

.grunt


# ----------------------------- Bower Dependency ----------------------------- #

bower_components


# ------------------------------------ WAF ----------------------------------- #

.lock-wscript


# ----------------------------- Compiled  Addons ----------------------------- #

build/Release


# -------------------------------- Dependency -------------------------------- #

node_modules/
jspm_packages/


# ---------------------------- Snowpack Dependency --------------------------- #

web_modules/


# ----------------------------- TypeScript Cache ----------------------------- #

*.tsbuildinfo


# --------------------------------- NPM Cache -------------------------------- #

.npm


# ------------------------------- ESLint Cache ------------------------------- #

.eslintcache


# ------------------------------ Stylelint Cache ----------------------------- #

.stylelintcache


# ----------------------------- Microbundle Cache ---------------------------- #

.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/


# ------------------------------- REPL History ------------------------------- #

.node_repl_history


# --------------------------------- NPM Pack --------------------------------- #

*.tgz


# ------------------------------ Yarn Integrity ------------------------------ #

.yarn-integrity


# ---------------------------- Dotenv Environment ---------------------------- #

.env
.env.development.local
.env.test.local
.env.production.local
.env.local


# -------------------------- Parcel - Bundler Cache -------------------------- #

.cache
.parcel-cache


# -------------------------------- Next Build -------------------------------- #

.next
out


# -------------------------------- Nuxt Build -------------------------------- #

.nuxt
dist

# ---------------------------------- Gatsby ---------------------------------- #

.cache/


# ------------------------------ VuePress Build ------------------------------ #

.vuepress/dist


# ----------------------- VuePress v2.x Temp - Cache ----------------------- #

.temp


# ----------------------------- Docusaurus Cache ----------------------------- #

.docusaurus


# -------------------------------- Serverless -------------------------------- #

.serverless/


# ------------------------------- FuseBox Cache ------------------------------ #

.fusebox/


# --------------------------------- DynamoDB --------------------------------- #

.dynamodb/


# -------------------------------- TernJS Port ------------------------------- #

.tern-port


# ---------------------------------- Yarn v2 --------------------------------- #

.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*


# ---------------------------- Serverless Webpack ---------------------------- #

.webpack/


# ------------------------------ SvelteKit Build ----------------------------- #

.svelte-kit