.buttonsContainer {
	@apply my-8
        grid
        justify-center
        gap-4;
}

.buttonsContainer > div {
	@apply flex
        items-center
        justify-center
        gap-4;
}

.navBar {
	@apply z-20
        col-span-full;
}

.navBarLink {
	@apply z-20
        block
        rounded-full
        bg-tertiary-background
        px-5
        py-2
        text-center
        font-medium
        capitalize
        transition-all
        duration-300
        ease-out
        hover:bg-tertiary-background-emphasis
        hover:ring-2
        hover:ring-tertiary-background
        hover:ring-offset-2;
}
