.btn {
	@apply z-20
        rounded-full
        bg-primary-background
        px-5
        py-2
        font-medium
        capitalize;
}

.btnEnabled {
	@apply transition-all
        duration-300
        ease-out
        hover:bg-primary-background-emphasis
        hover:ring-2
        hover:ring-primary-background
        hover:ring-offset-2;
}

.btnDisabled {
	@apply cursor-not-allowed
        opacity-50;
}
